
	  <!DOCTYPE html>
	  <html lang="en">
	  <head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
		<link rel="stylesheet"  href="../../assests/adminSidebar.css">
		<title>Document</title>
	  </head>
	  <body>
		
		<div class="sidebar">
			<div class="s-top-part">
			  <img src="../assests/logo.png" height="50" width="100">
			</div>
			<div class="top-part">
				<h2> <a href="/home"><i class="fas fa-home home-icon" ></i></a> </h2>
			  </div>
			<ul>
				<li><a href="/addnewdealer"><i class="fas fa-user-plus"></i> Add new Dealer</a></li>
			  <li><a href="/registerddealers"><i class="fas fa-user-shield"></i> Registered Dealers</a></li>
			  <li><a href="/dealersales"><i class="fas fa-money-bill-alt"></i> Dealer Sales</a></li>
			</ul>
			<div class="qr">

				<img src="../assests/download.png" height="100" width="100">
			</div>
		
		  </div>
	  </body>
	  </html>