<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link rel="stylesheet" type="text/css" href="../assests/adminsidebar.css">
</head>
<body>
    <div class="sidebar">
		<div class="s-top-part">
		  <img src="../assests/logo.png" height="50" width="100">
		</div>
		<div class="top-part">
			<h2> <a href="/home"><i class="fas fa-home home-icon" ></i></a> </h2>
		  </div>
		<ul>
            <li><a href="/verify-owner"><i class="fas fa-user-plus"></i> Verify Owner</a></li>
            <li><a href="/add-owner"><i class="fas fa-user-shield"></i> Add New Owner</a></li>
            <li><a href="/verify-nft"><i class="fas fa-money-bill-alt"></i> Verify NFT</a></li>
            <li><a href="/create-nft"><i class="fas fa-cogs"></i> Create New NFT</a></li>
		</ul>
    <div class="qr">

			<img src="../assests/download.png" height="100" width="100">
		</div>
	
	  </div>
</body>
</html>