<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href= '../assests/myprofile.css'>
</head>
<body>
    <%- include('ownersidebar.ejs') %>
	
	<div class="container">
        <h1>View detail Profile</h1>
        <!-- <table id="ownerTable">
            <tr>
              <th>Name</th>
              <th>CNIC</th>
              <th>Address</th>
              <th>Ethereum Address</th>
              Add more table headers for additional properties -->
            <!-- </tr> -->
            <table id="ownerTable">
              <tr>
                <th>Owner Name</th>
                <th>Owner CNIC</th>
                <th>Owner Address</th>
                <th>Owner Ethereum Address</th>
              </tr>
            </table>
          
        <button id="submit">Get Profile</button>
        <div id="errorPopup" class="popup">
            <div class="popup-content">
              <h2>Error</h2>
              <p id="message"> Transaction message</p>
              <button id="closePopup">Close</button>
            </div>
          </div>

	</div>
  <script src="/static/jquery/dist/jquery.min.js"></script>

	<script src="/static/web3/dist/web3.min.js"></script>
	<script  src="../assests/configuration/web3_configuration.js"></script>
	<script  src="../assests/configuration/contract_configuration.js"></script>
	<script  src="../assests/dapp operation/ownerProfile.js"></script>
</body>
</html>
