<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
	<link rel="stylesheet" type="text/css" href="../assests/adminsidebar.css">
</head>
<body>
    <div class="sidebar">
		<div class="s-top-part">
		  <img src="../assests/logo.png" height="50" width="100">
		</div>
		<div class="top-part">
			<h2> <a href="/home"><i class="fas fa-home home-icon" ></i></a> </h2>
		  </div>
		<ul>
			<li><a href="/verify-bueyrr"><i class="fas fa-user-plus"></i> Verify Buyer</a></li>
		  <li><a href="/transfer-property"><i class="fas fa-exchange-alt"></i> Transfer Property</a></li>
		  <li><a href="/my-property"><i class="fas fa-key"></i> My Properties</a></li>
		  <li><a href="/my-profile"><i class="fas fa-user-circle"></i> My Profile</a></li>
		</ul>
		<div class="qr">

			<img src="../assests/download.png" height="100" width="100">
		</div>
	
	  </div>
</body>
</html>